@function rem($px) {
   @return math.div($px, 16) + rem;
}

@function em($px) {
   @return math.div($px, 16) + em;
}

@function calcFluid($max, $min, $maxWidth: 1920, $minWidth: 320) {
   $k: toFixed(math.div(($max - $min), ($maxWidth - $minWidth)));
   $b: toFixed(math.div($min - $k * $minWidth, 16)) + rem;
   @return calc(#{$k * 100vw} + #{$b});
}

@function toFixed($float, $digits: 4) {
   $pow: pow(10, $digits);
   @return math.div(round($float * $pow), $pow);
}

@function pow($base, $exponents) {
   $raised: 1;
   @for $i from 1 through $exponents {
      $raised: $raised * $base;
   }
   @return $raised;
}

@function lineHeight($fs, $ln) {
   @return toFixed(math.div($fs, $ln), 3);
}
